
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/CreditUnionFYP/obj/Debug/
/CreditUnionFYP/bin/Debug/CreditUnionFYP.exe
/CreditUnionFYP/bin/Debug/CreditUnionFYP.pdb
/CreditUnionFYP/obj/Debug/CreditUnionFYP.csproj.FileListAbsolute.txt
/CreditUnionFYP/obj/Debug/CreditUnionFYP.csproj.GenerateResource.Cache
/CreditUnionFYP/obj/Debug/CreditUnionFYP.csprojResolveAssemblyReference.cache
/CreditUnionFYP/obj/Debug/CreditUnionFYP.exe
/CreditUnionFYP/obj/Debug/CreditUnionFYP.pdb
/CreditUnionFYP/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CreditUnionFYP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CreditUnionFYP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CreditUnionFYP/bin/Debug/CreditUnionFYP.exe
/CreditUnionFYP/bin/Debug/CreditUnionFYP.pdb
/CreditUnionFYP/CreditUnionFYP.csproj
/CreditUnionFYP/obj/Debug/CreditUnionFYP.csproj.FileListAbsolute.txt
/CreditUnionFYP/obj/Debug/CreditUnionFYP.csproj.GenerateResource.Cache
/CreditUnionFYP/obj/Debug/CreditUnionFYP.csprojResolveAssemblyReference.cache
/CreditUnionFYP/obj/Debug/CreditUnionFYP.exe
/CreditUnionFYP/obj/Debug/CreditUnionFYP.pdb
/CreditUnionFYP/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CreditUnionFYP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CreditUnionFYP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
