<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
     <connectionStrings>   
        <add name="myConnection" connectionString="Server=MAU-LT092\SQLEXPRESS;Database=IMCCUDB;UID=sa;password=Password01.;" providerName="System.Data.SqlClient" />
<add name="IMCCUDBEntities" connectionString="metadata=res://*/CreditUnionDb.csdl|res://*/CreditUnionDb.ssdl|res://*/CreditUnionDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAU-LT092\SQLEXPRESS;initial catalog=IMCCUDB;user id=sa;password=Password01.;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>